node_modules
.turbo
dist
.next
out
coverage
.env
.env.local
.env.*.local
.env.production
packages/database/.env
apps/api/.env
apps/web/.env.local
*.log
.DS_Store
.vercel
*.tsbuildinfo
apps/web/public/sw.js
apps/web/public/workbox-*.js
apps/web/public/sw.js.map
apps/api/uploads
.prisma
packages/database/generated
infra/cloudflared/credentials.json
infra/cloudflared/config.yml
